<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ item.name }} Details</title>
    <link rel="stylesheet" href="{{ url_for('serve_static', path='assets/css/detail.css') }}">
    <link rel="stylesheet" href="{{ url_for('serve_static', path='assets/css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('serve_static', path='assets/css/main.css') }}">
    <link rel="manifest" href="{{ url_for('serve_static', path='manifest.json') }}">
    
</head>
<body>
    <div class="body">
        <div class="header">
            <span class="title">
                <span>Coffee Leaf Diagnosis</span>
                <img src="{{ url_for('serve_static', path='assets/images/logo.png') }}" alt="logo">
            </span>
            <span class="nav">
                <a href="/">Home</a>
                <a href="/tools.html">Tools</a>
                <a href="/resource.html">Resources</a>
                <form action="{{ url_for('search') }}" method="GET">
                    <input type="text" placeholder="Search" name="query">
                    <button type="submit">Search</button>
                </form>                
            </span>
        </div>
        
        <div class="main">
            <div class="content-title">
                <h1>{{ item.name }}</h1>
            </div>
            <hr>
            <div class="content">
                <img src="{{ url_for('serve_static', path=item.image) }}" class="detail-img" alt="{{ item.name }}">
                <p><strong>Description:</strong> {{ item.description }}</p>
                <p><strong>Cure:</strong> {{ item.cure }}</p>
            </div>
        </div>
        <div class="download-circle" style="position: fixed; bottom: 20px; right: 20px; width: 60px; height: 60px; border-radius: 50%; background: #FFD700; display: flex; align-items: center; justify-content: center; cursor: pointer; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);">
            <img src="{{ url_for('serve_static', path='assets/images/download-icon.png') }}" alt="Download" style="width: 40px; height: 40px;" onclick="downloadApp()">
        </div>
    </div>
    <script src="{{ url_for('serve_static', path='assets/js/app.js') }}"></script>
</body>
</html>
