a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    margin-right: 2rem;
    color: inherit;
    display: inline-block;
    height: inherit;
    padding: 0 1rem;
    font-size: 1.5rem;
}

a:hover {
    color: #3B2F2F;
    background-color: #FFFDD0;
}

span.title, span.nav {
    display: inline-block;
    height: 10vh;
    line-height: 10vh;
    padding: 0 2vw;

    font-size: 2rem;
}

span.title {
    width: 37.5vw;
    padding-left: 3rem;
}

span.nav {
    width: 60vw;
}

span.title > img {
    margin: -0.5rem 0 0 0.5rem;
    vertical-align: middle;
    height: 8vh;
    width: auto;
}

span.nav {
    text-align: right;
}

span.nav > form {
    display: inline;
}

form *{
    display: inline;
    margin: 0 -1rem 0 0;
    height: 2rem;
    vertical-align: middle;
    padding: 0 1rem;
    border: none;
}

form > input:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

form > button {
    background-color: #6F4E37;
    color: #FFFDD0;
}

form > button:hover {
    background-color: #FFFDD0;
    color: #3B2F2F;
}

div.header {
    background-color: #6F4E37;
    color: #FFFDD0;
}