div.img {
    width: 39.5vw;
}

div.intro {
    width: 60vw;
    padding: 1rem 3rem 0 0;
}

div.intro > p {
    text-indent: 2rem;
    margin-top: 2rem;
    text-align: justify;
}

div.contacts {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem 2rem;
    background-color: #3B2F2F;
    width: 100%;
    color: #FFFDD0;
    display: flex;
}

div.contacts > div.text {
    width: 30%;
    display: inline-block;
}

.text > span {
    margin-right: 1rem;
}
.text > h3 {
    margin-bottom: 0.5rem;
}

div.contacts > div.socials {
    width: 70%;
    display: inline-block;
    text-align: right;
    padding-top: 1rem;
}

div.socials > a{
    padding: 0.5rem;
    border-radius: 0.25rem;
}